In [44]:
# Importing necessary helpful libiraries
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

# File Reading and Setup

### Instructions 
Setting up the file, put string of raw data into csv


Ex. 

rawData = pd.read_csv('dummy.csv')

In [45]:
rawData = pd.read_csv("rawData.csv", sep = ',')
#Make sure that data is imported with the correct format 
#If the file is not corretcly separated by semicoln, the method will not run and result in error, indicating possible worng \n
#format of input file
#Check if each column is in correct order 
rawData.tail(10)

,Sample ID,Analyte Name,Date,Time,Elem,Wavelength,Int (Corr),RSD (Corr Int),Conc (Calib),Conc (Samp),...,Int (Corr)4,Conc (Calib)4,Conc (Samp)4,Repl No5,Date5,Time5,Int (Net)5,Int (Corr)5,Conc (Calib)5,Conc (Samp)5
38,10L1[01]03A20221108,Sc 361.383,1/31/2023,12:29:15 PM,Sc,361.376,1.617707e+07,0.636348,90.77556247,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,10L1[01]03A20221108,Eu 381.967,1/31/2023,12:29:15 PM,Eu,381.951,9.856629e+06,0.472018,33.99442648,33.99442648,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,10L1[01]02A20221108,Sc 361.383,1/31/2023,12:34:58 PM,Sc,361.376,1.635290e+07,0.103869,91.76219644,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,10L1[01]02A20221108,Eu 381.967,1/31/2023,12:34:58 PM,Eu,381.951,1.708915e+07,0.570042,59.12073949,59.12073949,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,10L1[01]01A20230130,Sc 361.383,1/31/2023,12:40:44 PM,Sc,361.376,6.763237e+07,0.161257,379.5103888,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,10L1[01]01A20230130,Eu 381.967,1/31/2023,12:40:44 PM,Eu,381.951,3.637708e+06,0.139281,12.38943265,12.38943265,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,blank,Sc 361.383,1/31/2023,12:46:06 PM,Sc,361.376,1.805219e+07,0.081645,101.2975382,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,blank,Eu 381.967,1/31/2023,12:46:11 PM,Eu,381.951,-3.597145e+02,29.506538,-0.24948658,-0.24948658,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,blank,Sc 361.383,1/31/2023,12:51:31 PM,Sc,361.376,1.847235e+07,0.617327,103.6552223,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,blank,Eu 381.967,1/31/2023,12:51:36 PM,Eu,381.951,-6.036388e+02,5.627986,-0.250333991,-0.250333991,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
dilutionTable = pd.read_csv("dilutionTable.csv", sep = ',')
dilutionTable['SA ID '] = dilutionTable['SA ID '].astype(str)
dilutionTable

,AS Index,SA ID,mass sample (g),mass sample (mg),volume digestion (ml),concentration (mg/ml FLiNaK/dilution solution),aliquote (ml),dilution factor
0,NaN,nan,0.0000,NaN,NaN,NaN,NaN,NaN
1,1.0,blank,0.0000,NaN,NaN,NaN,NaN,NaN
2,2.0,25,0.0000,NaN,NaN,NaN,NaN,NaN
3,3.0,50,0.0000,NaN,NaN,NaN,NaN,NaN
4,4.0,100,0.0000,NaN,NaN,NaN,NaN,NaN
5,1.0,blank,0.0000,NaN,NaN,NaN,NaN,NaN
6,1.0,blank,0.0000,NaN,NaN,NaN,NaN,NaN
7,1.0,blank,0.0000,NaN,NaN,NaN,NaN,NaN
8,1.0,blank,0.0000,NaN,NaN,NaN,NaN,NaN
9,1.0,blank,0.0000,NaN,NaN,NaN,NaN,NaN
10,9.0,10B1[01]01A20221108,0.0000,0.0,50.0,NaN,-,1.0
11,10.0,10L1[01]03A20221108,0.0997,99.7,50.0,NaN,-,1.0
12,11.0,10L1[01]02A20221108,0.0882,88.2,50.0,NaN,-,1.0
13,1.0,blank,0.0000,NaN,NaN,NaN,NaN,NaN
14,1.0,blank,0.0000,NaN,NaN,NaN,NaN,NaN
15,12.0,10L1[01]01A20230130,0.0882,88.2,50.0,NaN,-,1.0

# Step 2 

### Initialized a new table called step2Table, indexed by Sample ID and Analyte name. The following code converts the columns into necessary datatype, and calculating the standard deviation while appending it to the table

In [47]:
step2Table = pd.DataFrame({"Sample ID"   : rawData['Sample ID'],
                           "AnalyteName" : rawData['Analyte Name'],
                           "Conc (Calib)1": rawData['Conc (Calib)1'],
                           "Conc (Calib)2": rawData['Conc (Calib)2'],
                           "Conc (Calib)3": rawData['Conc (Calib)3'],
                          })
step2Table
step2Table = step2Table.fillna(value = 0.0)
step2Table = step2Table.replace(" ", 0.0)
step2Table = step2Table.set_index(["Sample ID", "AnalyteName"])
#May cause some sort of Roundoff Error
step2Table["Conc (Calib)1"] = step2Table["Conc (Calib)1"].astype(float)
step2Table = step2Table.astype({"Conc (Calib)1": 'float',
                                "Conc (Calib)2": 'float',
                                "Conc (Calib)3": 'float',
})
step2Table['sum'] = step2Table.sum(axis = 1)
step2Table = step2Table[step2Table['sum'] != 0]
step2Table = step2Table.drop(columns = 'sum')
std = step2Table.std(axis = 1)
avg = step2Table.mean(axis = 1)

step2Table['Average Conc Calib (mg/l)'] = avg
step2Table['Std Dev (mg/l)'] = std 
step2Table.tail(10)
#Step 2 Table is convered into format of 
#IndexType: Tuple ([Sample ID], [Analyte Name])
#All other columns are in float64

                                 Conc (Calib)1  Conc (Calib)2  Conc (Calib)3  \
Sample ID           AnalyteName
10L1[01]03A20221108 Sc 361.383       90.580549      90.320661      91.425477
                    Eu 381.967       34.073073      34.101684      33.808523
10L1[01]02A20221108 Sc 361.383       91.658146      91.845280      91.783163
                    Eu 381.967       58.752168      59.192554      59.417496
10L1[01]01A20230130 Sc 361.383      380.216828     379.172533     379.141805
                    Eu 381.967       12.369190      12.401140      12.397967
blank               Sc 361.383      101.264605     101.236373     101.391636
                    Eu 381.967       -0.249085      -0.249564      -0.249810
                    Sc 361.383      104.386299     103.382455     103.196912
                    Eu 381.967       -0.250206      -0.250439      -0.250356

                                 Average Conc Calib (mg/l)  Std Dev (mg/l)
Sample ID           AnalyteName
10L1[01]03A20221108 Sc 361.383                   90.775562        0.577648
                    Eu 381.967                   33.994426        0.161632
10L1[01]02A20221108 Sc 361.383                   91.762196        0.095312
                    Eu 381.967                   59.120739        0.338428
10L1[01]01A20230130 Sc 361.383                  379.510389        0.611987
                    Eu 381.967                   12.389433        0.017602
blank               Sc 361.383                  101.297538        0.082705
                    Eu 381.967                   -0.249487        0.000369
                    Sc 361.383                  103.655222        0.639892
                    Eu 381.967                   -0.250334        0.000118

### Step 3 Rearrange data so Sample and Analyte are on the right

In [48]:
step3Table = step2Table.drop(columns = ['Conc (Calib)1', 'Conc (Calib)2', 'Conc (Calib)3', ])
#10L1[01]01A20221129 --> 10B1[01]01A20221108
#Step3Table is a more precise table that only shows average concentration as well as standard deviation
step3Table

                                 Average Conc Calib (mg/l)  Std Dev (mg/l)
Sample ID           AnalyteName
100ppm              Sc 361.383                  100.000000        0.288390
                    Sc 361.383                  103.141962        0.247307
blk                 Sc 361.383                  104.412925        1.046384
                    Sc 361.383                  103.833691        1.169179
                    Sc 361.383                  103.153610        0.377350
                    Sc 361.383                  104.278172        0.421134
blank               Sc 361.383                  100.483221        0.391663
                    Eu 381.967                   -0.247336        0.001641
                    Sc 361.383                  100.781447        1.008270
                    Eu 381.967                   -0.250156        0.000310
                    Sc 361.383                  100.432842        0.834237
                    Eu 381.967                   -0.250455        0.000166
                    Sc 361.383                  101.123544        0.635996
                    Eu 381.967                   -0.250643        0.000195
                    Sc 361.383                  101.366116        0.520894
                    Eu 381.967                   -0.250609        0.000061
10B1[01]01A20221108 Sc 361.383                   98.531617        0.276956
                    Eu 381.967                   -0.251118        0.000092
10L1[01]03A20221108 Sc 361.383                   90.775562        0.577648
                    Eu 381.967                   33.994426        0.161632
10L1[01]02A20221108 Sc 361.383                   91.762196        0.095312
                    Eu 381.967                   59.120739        0.338428
10L1[01]01A20230130 Sc 361.383                  379.510389        0.611987
                    Eu 381.967                   12.389433        0.017602
blank               Sc 361.383                  101.297538        0.082705
                    Eu 381.967                   -0.249487        0.000369
                    Sc 361.383                  103.655222        0.639892
                    Eu 381.967                   -0.250334        0.000118

In [49]:
def construct(table):
    #Implement SD next after checking accuracy
    ans = []
    avg = []
    std = []
    for info_tuple in table.index:
        b = info_tuple[0][2]
        if b != 'B' and len(info_tuple[0]) == 19:
            ans.append(info_tuple)
    for tuples in ans:
        if tuples in step3Table.index:
            avg.append(step3Table.loc[tuples]['Average Conc Calib (mg/l)'][0])
            std.append(step3Table.loc[tuples]['Std Dev (mg/l)'][0])
            
    ans_table = pd.DataFrame({
        "Samples" : ans,
        "Average Conc Calib (mg/l)": avg,
        "Average Std Dev (mg/l)": std
    })
    return ans_table

c_table = construct(step3Table)
#reset index to grab Blank
blank3reset = step3Table.reset_index()
c_table

,Samples,Average Conc Calib (mg/l),Average Std Dev (mg/l)
0,"(10L1[01]03A20221108, Sc 361.383)",90.775562,0.577648
1,"(10L1[01]03A20221108, Eu 381.967)",33.994426,0.161632
2,"(10L1[01]02A20221108, Sc 361.383)",91.762196,0.095312
3,"(10L1[01]02A20221108, Eu 381.967)",59.120739,0.338428
4,"(10L1[01]01A20230130, Sc 361.383)",379.510389,0.611987
5,"(10L1[01]01A20230130, Eu 381.967)",12.389433,0.017602

In [50]:
def calculate(constructed_table):
    ans = []
    for samples in constructed_table['Samples']:
        #Implementataion for now, SUPER SLOW TO BE FIXED LATER
        blank = ''
        for dilutions in dilutionTable['SA ID ']:
            if dilutions[0:4] == samples[0][0:2] + "B" + samples[0][3]:
                blank = (dilutions, samples[1])
                digestionVolumn = dilutionTable[dilutionTable['SA ID '] == samples[0]]['volume digestion (ml)'].unique().astype(float)[0]
                mass = dilutionTable[dilutionTable['SA ID '] == samples[0]]["mass sample (g)"].unique().astype(float)[0]
                dilution_constant = (dilutionTable[dilutionTable['SA ID '] == samples[0]]['volume digestion (ml)'].unique().astype(float)[0] / dilutionTable[dilutionTable['SA ID '] == samples[0]]["mass sample (g)"].unique().astype(float)[0])*    dilutionTable[dilutionTable['SA ID '] == samples[0]]["dilution factor"].unique().astype(float)[0]                                                 
                concInDigestate = constructed_table[constructed_table['Samples'] == samples]['Average Conc Calib (mg/l)'].unique().astype(float)[0]
                blankTbale = (blank3reset[blank3reset['Sample ID'] == blank[0]])
                blankValue = blankTbale[blankTbale["AnalyteName"] == blank[1]]["Average Conc Calib (mg/l)"].unique().astype(float)[0]
                if blankValue >= 0:
                    ans.append((concInDigestate - blankValue)*dilution_constant)
                else:
                    ans.append((concInDigestate)*dilution_constant)
    return ans 



c_table['Concentration of Element(ppm)'] = calculate(c_table)
c_table

,Samples,Average Conc Calib (mg/l),Average Std Dev (mg/l),Concentration of Element(ppm)
0,"(10L1[01]03A20221108, Sc 361.383)",90.775562,0.577648,-3889.696585
1,"(10L1[01]03A20221108, Eu 381.967)",33.994426,0.161632,17048.358313
2,"(10L1[01]02A20221108, Sc 361.383)",91.762196,0.095312,-3837.540261
3,"(10L1[01]02A20221108, Eu 381.967)",59.120739,0.338428,33515.158443
4,"(10L1[01]01A20230130, Sc 361.383)",379.510389,0.611987,159285.017746
5,"(10L1[01]01A20230130, Eu 381.967)",12.389433,0.017602,7023.487895

In [51]:
blank3reset[blank3reset['Sample ID'] == "10B1[01]01A20221108"]

              Sample ID AnalyteName  Average Conc Calib (mg/l)  Std Dev (mg/l)
16  10B1[01]01A20221108  Sc 361.383                  98.531617        0.276956
17  10B1[01]01A20221108  Eu 381.967                  -0.251118        0.000092

### Export

In [52]:

c_table = c_table.replace([np.inf, -np.inf], -1)
c_table = c_table[c_table['Concentration of Element(ppm)'] > 0]
if 'Samples' in c_table.columns:
    sampleNames = c_table['Samples'].tolist()
    index1 = [item[0] for item in sampleNames]
    index2 = [item[1] for item in sampleNames]
    c_table = c_table.set_index([index1, index2])
    c_table.drop('Samples', axis = 1, inplace = True)
c_table.to_csv('output.csv')
c_table

                                Average Conc Calib (mg/l)  \
10L1[01]03A20221108 Eu 381.967                  33.994426
10L1[01]02A20221108 Eu 381.967                  59.120739
10L1[01]01A20230130 Sc 361.383                 379.510389
                    Eu 381.967                  12.389433

                                Average Std Dev (mg/l)  \
10L1[01]03A20221108 Eu 381.967                0.161632
10L1[01]02A20221108 Eu 381.967                0.338428
10L1[01]01A20230130 Sc 361.383                0.611987
                    Eu 381.967                0.017602

                                Concentration of Element(ppm)
10L1[01]03A20221108 Eu 381.967                   17048.358313
10L1[01]02A20221108 Eu 381.967                   33515.158443
10L1[01]01A20230130 Sc 361.383                  159285.017746
                    Eu 381.967                    7023.487895